

NET "FA" IOSTANDARD = LVTTL;
NET "FB" IOSTANDARD = LVTTL;
NET "FD" IOSTANDARD = LVTTL;
NET "FC" IOSTANDARD = LVTTL;
NET "FE" IOSTANDARD = LVTTL;
NET "FF" IOSTANDARD = LVTTL;
NET "FG" IOSTANDARD = LVTTL;
NET "X" IOSTANDARD = LVTTL;
NET "Y" IOSTANDARD = LVTTL;
NET "Z" IOSTANDARD = LVTTL;
NET "X" PULLUP;
NET "Y" PULLUP;
NET "Z" PULLUP;


NET "FA" LOC = D5;
NET "FB" LOC = C5;
NET "FC" LOC = A6;
NET "FD" LOC = F7;
NET "FE" LOC = B6;
NET "FF" LOC = A4;
NET "FG" LOC = B4;
NET "X" LOC = N17;
NET "Y" LOC = H18;

# PlanAhead Generated physical constraints 

NET "Z" LOC = L14;
